/* Colours
#FFFFFF
#333333
#003a4a
*/
* {
  box-sizing: border-box;
}

main {
  padding-top: 160px;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  text-align: center;
}

h1 {
  font-size: 2.0em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

header {
  background-color: #003a4a;
  text-align: center;
  padding: 10px;
  position: fixed;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}

footer {
  background-color: #003a4a;
}

#home {
  background-color: #003a4a;
}

a,
a:visited {
  color: #ffffff;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  opacity: 0.4;
}

.button,
.button:visited {
  display: inline-block;
  background-color: #003a4a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid #333333;
  transition: 0.2s opacity;
  text-decoration: none;
}
.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  display: inline-block;
  background-color: #ffffff;
  color: #003a4a;
  border: 2px solid #003a4a;
  text-decoration: none;
}

.button.contact,
.button.contact {
  background-color: #ffffff;
  color: #003a4a;
  text-transform: uppercase;
  border: 2px solid #003a4a;
}
.button.contact:hover,
.button.contact:focus {
  display: inline-block;
  background-color: #003a4a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s opacity;
  opacity: 0, 8;
  text-decoration: none;
}
.button.contact:active {
  opacity: 1;
  text-decoration: none;
  border: 2px solid #ffffff;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px; color: #333333;
}

#home {
  background-color: #003a4a;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#home h1 {
  text-align: center;
  color: #ffffff;
}

#home p {
  text-align: center;
  color: #ffffff;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
  opacity: 0.6;
}
nav > ul > li > a:active {
  opacity: 0.2;
}

#about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about .row {
  list-style-type: none;
  padding: 0;
}

footer > div > h2 {
  color: #ffffff;
  padding-top: 20px;
}

footer > div p {
  color: #ffffff;
}

.icon {
  max-width: 3%;
  display: inline-block;
}

.image {
  max-width: 50%;
  display: inline-block;
}

.image.project1 {
  max-width: 50%;
  display: inline-block;
}
